.sales-list{
    padding: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;
}

.sales-list-nav{
    margin-top: 6px;
}

.selected-tab{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.unselected-tab{
    display: inline-block;
    margin-right: 5px;
}

.selected-nav{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.unselected-nav{
    display: inline-block;
    margin-right: 5px;
}