.sales-list{

}

.selected-tab{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.unselected-tab{
    display: inline-block;
    margin-right: 5px;
}

.selected-nav{
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.unselected-nav{
    display: inline-block;
    margin-right: 5px;
}